@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap');

.edu-nsw-act-hand-pre {
  font-family: "Edu NSW ACT Hand Pre", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
.text-do{
	color: royalblue
}
header{
	width: 100%;height: 55px;background: #BDD2E4;border-bottom: 1px solid #DBEEF7
}
.logo{
	padding-top: 5px
}
.menu{
	padding-top: 14px
}
.menu ul{
	margin: 0;padding: 0;list-style: none;display: flex
}
.menu ul li a{
	padding: 10px 20px;text-decoration: none;text-transform: uppercase;color: #366E9D;display: block
}
.menu ul li a:hover{
	background-color: #366E9D;color: white
}
/*phan drop down menu*/
.menu ul li{
	position: relative
}
.menu .drop-down{
	position: absolute;left: 0;top: 100%;display: flex;flex-direction: column;width: 200px;background-color: rgba(219,238,247,0.80);display: none
}
.menu .drop-down ul li a{
	color: white
}
.menu .drop-down li{
	border-bottom: 1px solid #C9C9C9
}
.menu .drop-down a:hover{
	background-color: rgba(54,110,157,0.80)
}
.menu li:hover .drop-down{
	display: block
}
/*phan slide*/
#slide .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slide .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}
.banner{
	width: 100%;min-height: 400px;position: relative
}
.item{
	height: 400px
}
#slide .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slide .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #BDD2E4
}

#slide .owl-nav .owl-next{ position:absolute; right:5%;}
#slide .owl-nav .owl-prev{ position:absolute; left:5%;}
#slide .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:#366E9D;
      text-decoration: none; }
.text-dau-muc{
	color: #366E9D
}
aside ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
aside ul li{
	border-bottom: 1px solid #c0c0c0
}
aside ul li a{
	padding: 10px; display: block; text-decoration: none; color: #666666; text-transform: capitalize
}
aside ul li a:hover{
	background-color: #366E9D; color: white
}
.sp{
	font-size: 20px;font-weight: bold
}
.text-den{
	color: #2d2d2d
}
.text-center{
	text-align: center
}
.text-xam{
	color: #4f4f4f;display: inherit
}
footer{
	color: #366E9D;background-color: #BDD2E4;text-decoration: none
}
.icon a{
	color: #366E9D
}
.icon a:hover{
	color: white
}
.bg-xanh{
	width: 100%;min-height: 280px;background-color: #366E9D;text-align: center
}
.bg-xanh 
footer ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
footer ul li a{
	display: block;padding: 10px;text-decoration: none
}
footer ul li a:hover{
	color: white
}
.txt{
	color: white;text-decoration: none;text-align: center;margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
.txt ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
.txt ul li a{
	display: block;padding: 10px;text-decoration: none;color: white
}
.txt ul li a:hover{
	color: #DBEEF7
}